@use '../partials_scss/variables' as *;

header {
    background-color: $light;

    .current_page {
        background-color: $dc_color;
    }

    .border_dc {
        color: $dc_color;
    }

    small {
        font-size: 0.7rem;
    }

    .logo img {
        width: 3rem;
    }

    .navbar {
        .navbar-nav a {


            font-size: 0.8rem;
            color: $darker;
            border-bottom: 2px solid transparent;

            &:hover {
                color: $dc_color;
                border-bottom: 2px solid $dc_color;
            }
        }

        input {
            border-bottom: 3px solid !important;
        }
    }

}